@import "../../variables";

.container {
    border: 1px solid $light;
    box-shadow: inset 0px 0px 2px 1px $light;
    display: grid;
    place-items: center;
    z-index: 3;
    cursor: default;

    &.occupied {
        cursor: not-allowed;
    }
}
